.background-yellow {
  background-color: #f5f2d5;
}

/* Newspaper styling */
.newspaper-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  column-rule: 1px solid #ccc;
}

.newspaper-column {
  break-inside: avoid;
}

@media screen and (min-width: 60em) {
  .newspaper-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

.newspaper-title {
  font-family: 'Old English Text MT', 'Blackletter', serif;
}

.newspaper-dropcap::first-letter {
  font-size: 3.5em;
  font-weight: bold;
  line-height: 1;
  float: left;
  margin-right: 0.1em;
}

.projects-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.module-sudoku {
  width: 180px;
  height: 180px;
  display: grid;
  place-items: center;
  color: black;
  position: relative;
  font: bold 30px baskerville;
  background-image:
    linear-gradient(black, black),
    url(../images/sudoku.jpg);
  background-size: cover;
  background-blend-mode: saturation;
}

.module-bluev {
  width: 180px;
  height: 180px;
  display: grid;
  place-items: center;
  color: white;
  position: relative;
  font: bold 30px baskerville;
  background-image:
    linear-gradient(black, black),
    url(../images/product.jpg);
  background-size: cover;
  background-blend-mode: saturation;
}

.module-ml {
  width: 180px;
  height: 180px;
  display: grid;
  place-items: center;
  color: black;
  position: relative;
  font: bold 20px baskerville;
  background-image:
    linear-gradient(black, black),
    url(../images/machine-learning.png);
  background-size: cover;
  background-blend-mode: saturation;
}

.module-ai {
  width: 180px;
  height: 180px;
  display: grid;
  place-items: center;
  color: black;
  position: relative;
  font: bold 25px baskerville;
  background-image:
    linear-gradient(black, black),
    url(../images/ai-puzzles.jpg);
  background-size: cover;
  background-blend-mode: saturation;
}
